{% extends 'main/layout2.html' %}
<!-- {% block title %}Mehsul{% endblock %} -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row ">
            <div class="col-lg grid-margin">
              <div class="card">
                <div class="card-body">


   


<!-- {% if deleteconfmehsul %}
<form method="post" action="deletemehsul/{{ deleteconfmehsul.id }}">
    {% csrf_token %}

    <div class="alert alert-info "><b>Silmek istediyinizden eminsinizmi ?</b>
    <button class="btn btn-success btn-sm" type="submit"><i class="bi bi-check"></i></button>
    <a class="btn btn-danger btn-sm" href="http://127.0.0.1:8000/mehsul"><i class="bi bi-x"></i></a>
    </div>


</form>
{% endif%} -->
</div>
</div>
</div>
</div>
<div class="row ">
    <div class="col-lg grid-margin">
      <div class="card">
        <div class="card-body">
            
    

            <div id="result"></div>


      
     </div> 
       </div> 
        </div>
  
</div>
</div>
</div>
{% endblock %}
