{% extends 'main/layout2.html' %}
<!-- {% block title %}Brands{% endblock %} -->

{% block axtar %}{% url 'axtar' %}{% endblock %}


{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row ">
      <div class="col-lg grid-margin">
        <div class="card">
          <div class="card-body">
        <div ><h2>Vezife</h2></div> 
        
        <marquee behavior="scroll" direction="left"><h2>Welcome ! </h2></marquee>

<br>
    <!--{% if deleteconf %}
                <form method="post" action="delete/{{ deleteconf.id }}">
                    {% csrf_token %}

                        <div class="alert alert-info "><b>Silmek istediyinizden eminsinizmi ?</b>
                        <button class="btn btn-success btn-sm" type="submit"><i class="bi bi-check"></i></button>
                        <a class="btn btn-danger btn-sm" href="http://127.0.0.1:8000"><i class="bi bi-x"></i></a>
                        </div>
                </form>
                
    {% endif %}-->
  </div>
    </div>
      </div>
        </div>
        
    <div class="row ">
        <div class="col-lg grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
               




<div id="result"></div>




              </div>
            </div>
          </div>
        
      </div>
    </div>
   
  
  </div>
 </div>

{% endblock %}